<a href="https://colab.research.google.com/github/mohamedatiakhalifa/my-course/blob/main/checkpoints(7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#7
amt = int(input("Enter Sale Amount: "))

if(amt>0):
    if amt<=5000:
       disc = amt*0.05
    elif amt<=15000:
        disc=amt*0.12
    elif amt<=25000:
        disc=0.2 * amt
    else:
         disc=0.3 * amt

    print("Discount : ",disc)
    print("Net Pay  : ",amt-disc)
else:
    print("Invalid Amount")

Enter Sale Amount: 5000
Discount :  250.0
Net Pay  :  4750.0

In [ ]:
#6
str1 = input("Please Enter your Own String : ")

str2 = ''

for i in range(len(str1)):
    if(i % 2 == 0):
        str2 = str2 + str1[i]
        
print("Original String :  ", str1)
print("Final String :     ", str2)

In [ ]:
#5
def factorial(n):
    value = 1
    for i in range(1, n+1):
        value = value * i
    return value

number = int(input("Type a number: "))
print(factorial(number))

In [ ]:
#5
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

In [ ]:
#4
number=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5>0):
        number.append(str(x))
print (','.join(number))

In [ ]:
#3
i=int(input("Enter a number:"))
num= (i+ ((i*10)+i) + ((i*100)+(i*10)+i))
print(num)

In [5]:

#3
n = input('n: ')
s = 0
for i in range(1, int(n) + 1):
    s += int(n * i) # n is a string, multiplying with int results in replication

print(s)

n: 5
61725

In [6]:
#3
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615

In [8]:
first_name = input('enter ur  first name ')
last_name = input('enter ur  last name ')
print(last_name,first_name)

enter ur  first name mohamed
enter ur  last name atia
atia mohamed