In [1]:
def max_three(a,b,c):
  return max(a,b,c)

print(max_three(13,15,40))

40

In [2]:
def calculations(a,b):
  y = a+b
  x = a-b
  return y,x
print(calculations(40,10))

(50, 30)

In [5]:
a = [1,2,3,4,5,6,7,8,9,10]
even = []
odd = []

for i in range(len(a)):
  if i % 2 == 0:
    even.append(a[i])
  else:
    odd.append(a[i])

def summ(x):
  result = 0
  for i in x:
    result = result + i
  return result

def multi(x):
  result = 1
  for i in x:
    result = result * i
  return result

print("the sum of even indexes is : ",summ(even),"the multi of odd index is : ", multi(odd))

the sum of even indexes is :  25 the multi of odd index is :  3840

In [11]:
x = "green-red-yellow-black-white"
y = x.split("-")
y.sort()
print("-".join(y))

black-green-red-white-yellow

In [18]:
#Q =[(2 * 50 * D)/30]**0.5 
x = input()
#100,150,180
y = x.split(",")
#["100","150","180"]
value = []
for d in y:
  Q =((2 * 50 * int(d))/30)**0.5 
  value.append(int(Q))
print(value)

100,150,180
[18, 22, 24]