In [72]:
import numpy as np
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)

df.head(3)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [73]:
df = df.dropna()
print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [74]:
df.loc["k"] = {"name": "Suresh", "score": 15.5, "attempts": 1, "qualify" : "yes"}

print(df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [75]:
df = df.drop("attempts",axis = 1)

print(df)

        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes
k     Suresh   15.5     yes

In [76]:
df['success'] = np.where(df['score']> 10, 1, 0)
print(df)

        name  score qualify  success
0  Anastasia   12.5     yes        1
1       Dima    9.0      no        0
2  Katherine   16.5     yes        1
4      Emily    9.0      no        0
5    Michael   20.0     yes        1
6    Matthew   14.5     yes        1
8      Kevin    8.0      no        0
9      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

In [77]:
df.to_csv("my_data")